# <https://pypi.org/search/?q=apache-airflow-providers&o=>
apache-airflow-providers-microsoft-azure==4.3.0
apache-airflow-providers-microsoft-mssql==3.2.1
apache-airflow-providers-postgres==5.2.2
apache-airflow-providers-cncf-kubernetes==4.4.0
apache-airflow-providers-databricks==3.3.0
apache-airflow-providers-snowflake==3.3.0

# <https://pypi.org/project/astronomer-providers/>
astronomer-providers==1.10.0

# <https://pypi.org/project/minio/>
minio==7.1.12